/*

[Table of contents]

	1. Mobile Portrait to Tablet Portrait 
	2. Standard Screen  
	3. Tablet Portrait 
	4. Mobile 

*/

/* ---------------------------------------------- 
 	1. Mobile Portrait to Tablet Portrait
---------------------------------------------- */

@media only screen and (max-width: 979px) { 

	.godgrace_row .godgrace_column3, .godgrace_row .godgrace_column4, .godgrace_row .godgrace_column5, .godgrace_row .godgrace_column6 { width: 50%; }
	.godgrace_two_third, .godgrace_three_fourth, .godgrace_four_fifth, .godgrace_five_sixth, .godgrace_one_third, .godgrace_one_fourth, .godgrace_one_fifth, .godgrace_one_sixth { width:48.71794871794872%; }
	.godgrace_one_full, .godgrace_custom_two_third, #sidebar { width: 100%; float:none; clear:both; margin-left:0; margin-bottom: 30px; }

    .gallery-columns-5 dl.gallery-item, .gallery-columns-6 dl.gallery-item, .gallery-columns-7 dl.gallery-item, .gallery-columns-8 dl.gallery-item, .gallery-columns-9 dl.gallery-item { width:33.29%; padding:1.5%;  }

    .godgrace_footer_contact_bar .godgrace_row .godgrace_column:nth-child(3) { margin-top:0; }

}

/* ---------------------------------------------- 
 	2. Standard Screen
---------------------------------------------- */


@media only screen and (min-width: 980px) and (max-width:1150px) {
.single .godgrace_cause_goalbox ul { padding:15px 20px; }
.single .godgrace_cause_goalbox ul li span.godgrace_cause_goalbox_amount { font-size:120%; }
.single .godgrace_cause_goalbox ul li { margin:0 15px; }
.single .godgrace_cause_goalbox ul li:after { margin-right: -15px; }
.single .godgrace_cause_bar { padding:0; margin-bottom:-7px;  }
.single .godgrace_cause_readmore_button { margin:22px 20px 22px 0; }
.single .godgrace_cause_readmore_button a.button { font-size: 100%; padding:0 25px; }
.godgrace_contactbar_call { margin-right:25px; padding-left:45px; }
.godgrace_h_search_icon { margin-left:25px; }

}


@media only screen and (min-width: 980px) and (max-width:1100px) {
	.godgrace_contactbar_call { margin-right:20px; }
	.godgrace_h_search_icon { margin-left:20px; }
	.godgrace_logo_image { padding-right:20px; }


}

/* ---------------------------------------------- 
 	3. Tablet Portrait
---------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 979px) {

	.godgrace_column3.godgrace_universal_3col_grid { width:50%; }

	.godgrace_sermons_featured_img { width:203px; }
	.godgrace_sermons_left { margin-right:25px; }

}

/* ---------------------------------------------- 
 	4. Mobile
---------------------------------------------- */

@media only screen and (max-width: 767px) {  

	.godgrace_two_third, .godgrace_three_fourth, .godgrace_four_fifth, .godgrace_five_sixth, .one_half, .godgrace_one_half, .godgrace_row .godgrace_column2, .one_third, .godgrace_one_third, .godgrace_row .godgrace_column3, .one_fourth, .godgrace_one_fourth, .godgrace_row .godgrace_column4, .one_fifth, .godgrace_one_fifth, .godgrace_row .godgrace_column5, .one_sixth, .godgrace_one_sixth, .godgrace_row .godgrace_column6, .godgrace-layout-sidebar-left .godgrace_row .godgrace_column2, .godgrace-layout-sidebar-left .godgrace_row .godgrace_column3, .godgrace-layout-sidebar-left .godgrace_row .godgrace_column4, .godgrace-layout-sidebar-right .godgrace_row .godgrace_column2, .godgrace-layout-sidebar-right .godgrace_row .godgrace_column3, .godgrace-layout-sidebar-right .godgrace_row .godgrace_column4 { width:100%; float:none; clear:both; margin-left:0; margin-bottom: 30px; }

	.godgrace_header { position: relative; }
	.godgrace_logo { display: block; float:none; width:100%; text-align: center; padding:0; margin:0; }
	.godgrace_h_search_icon,.godgrace_contactbar_content_mobile { margin-top: 0; }
	.godgrace_contactbar { float:left; }
	.godgrace_contactbar_content_mobile_wrap { left:0; }
	
	.godgrace_post_date,.godgrace_post_meta ul li.godgrace_post_meta_likes span.likeviewshide,.godgrace_post_meta ul li.godgrace_post_meta_views span.likeviewshide { display: none; }
	.godgrace_post_meta ul li.godgrace_post_meta_date { display: inline-block; }

	.godgrace_post_title_meta { margin:0 0 30px 0; }
	ul.godgrace_post_share_icons_list { display: block; }
	.godgrace_post_title { padding-top:10px; padding-bottom:5px; padding-left:15px; }
	.godgrace_post_comment_hide .godgrace_post_title { padding-right:15px; }
	span.godgrace_post_meta_comments { right:15px; top:10px; }

	#godgrace_sub_header .godgrace_sub_header_title,#godgrace_sub_header h1.godgrace_sub_header_title { font-size: 30px; }

	.godgrace_post_image span.godgrace_pf_icon_box { display: none; }

	.godgrace_next_prev_box { width:100%; display: block; clear:both; float:none; }
	.godgrace_pp_view_all { display: none; }
	.godgrace_pp_next { border-top:2px solid #e6e6e6; margin-top: 20px; padding-top: 20px; }

	.godgrace_post_share_links { float:none; clear:both; padding-top: 20px; text-align: left;  }

	.godgrace_related_posts ul li { display: block; float:none; width:100%; margin-bottom: 40px; }

	#comment-wrap ol.commentlist li ul.children { padding-left:0; }
	#comment-wrap ol.commentlist li ul { margin-left: 0; }

	#commentform p.comment-form-author, #commentform p.comment-form-email, #commentform p.comment-form-url { width:100%; }
	/*form.godgrace_search_form input[type="text"] { width:80%; }*/

	.godgrace_tile_gallery ul li { width:50%; }

	.godgrace_search_featured_img { display: none; }

	.gallery-columns-2 dl.gallery-item, .gallery-columns-3 dl.gallery-item, .gallery-columns-4 dl.gallery-item,.gallery-columns-5 dl.gallery-item, .gallery-columns-6 dl.gallery-item, .gallery-columns-7 dl.gallery-item, .gallery-columns-8 dl.gallery-item, .gallery-columns-9 dl.gallery-item { width:50%; padding:1.5%; }

	.footer .godgrace_row { margin:0; }
	.footer .godgrace_large_footer .godgrace_column_gap { padding:0; }
	.footer .godgrace_footer_contact_bar .godgrace_row .godgrace_column3 { margin:0; }
	.godgrace_footer_contact_bar .godgrace_row .godgrace_column { margin-top:0; }


	.footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons { display: block; text-align: center; margin:0; }
    .footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons li,.footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons li a { float:none; }

	.godgrace_footer_copyright.left,.godgrace_small_footer_sm_icons.right { float:none; display: block; text-align: center; margin:10px 0; width:100%; }
    .footer .godgrace_footer_copyright { height:auto; }
	.footer .godgrace_footer_copyright p { padding:0; }
	
	.godgrace_cause_goalbox_border { display: none; }
	.godgrace_cause_goalbox { margin:0 0 30px;}
	.single .godgrace_cause_readmore_button a.button { font-size: 100%; padding:0 25px; }
	.single .godgrace_cause_goalbox ul { padding:15px 20px; }
	.single .godgrace_cause_goalbox ul li { margin:0 10px; }
	.single .godgrace_cause_goalbox ul li:after { display: none; }
	.single .godgrace_cause_goalbox ul li span { font-size: 90%; }
	.single .godgrace_cause_goalbox ul li span.godgrace_cause_goalbox_amount { font-size:100%; }	
	.single .godgrace_cause_readmore_button { margin:22px 20px 15px 0; }
	.single .godgrace_cause_readmore_button a.button { font-size: 90%; padding:0 20px; line-height: 30px; height:30px; }
	.godgrace_cause_standard_view .godgrace_cause_standard_title h4 a { font-size: 18px; } 

	.godgrace_filter_menu,ul.godgrace_h_menu { border:0; }

	.godgrace_sermons_left { margin:0 20px 0 0; }
	.godgrace_sermons_date_full { display: block; }
	.godgrace_sermons_date_day,.godgrace_sermons_date_monthyear { display: none; }
	.godgrace_sermons_date,.godgrace_sermons_play_area { width:200px; height:auto; padding:7px 20px; }
	.godgrace_sermons_play_area { margin-bottom:2px; }
	.godgrace_sermons_date_holder { margin:0; }
	.godgrace_sermons_play_area a { width:30px; height:30px; line-height:30px; font-size:12px; }
	.godgrace_sermons_featured_img { display: block; float:none; clear:both; max-width:200px; }
	.godgrace_site_content .godgrace_sermons_right h4 { font-size:20px; }

	.godgrace_sermons_single_play_area { width:100%; border:0; border-bottom:1px solid #e6e6e6; float:none; display: block; }
	.godgrace_sermon_single_title_meta { width:100%; border:0; float:none; display: block; text-align: center; }
	.godgrace_sermons_single_meta span { float:none; }
	.godgrace_sermons_single_play_area,.godgrace_sermon_single_title_meta { padding:15px 20px; }
	.godgrace_sermons_single_play_area a { width:30px; height:30px; line-height:30px; font-size:12px; }
	.godgrace_site_content .godgrace_sermon_single_title_meta h1 { font-size:17px; }


}


@media only screen and (max-width: 480px) {

	.godgrace_logo_image img { max-width:240px; }
	#godgrace_sub_header .godgrace_sub_header_title,#godgrace_sub_header h1.godgrace_sub_header_title { font-size: 24px; }
	.godgrace_about_author img { float:none; display: block; margin-bottom: 20px; }

	.gallery-columns-2 dl.gallery-item, .gallery-columns-3 dl.gallery-item, .gallery-columns-4 dl.gallery-item,.gallery-columns-5 dl.gallery-item, .gallery-columns-6 dl.gallery-item, .gallery-columns-7 dl.gallery-item, .gallery-columns-8 dl.gallery-item, .gallery-columns-9 dl.gallery-item { width:100%; padding:0; margin-bottom: 2%; }

	.single .godgrace_cause_goalbox ul { display: block; width:100%; }
	.single .godgrace_cause_goalbox ul li { display: block; text-align: center; float:none; margin:0; padding:0; }	
	.single .godgrace_cause_goalbox ul li span { display: inline-block; margin:0 3px; }
	.single .godgrace_cause_goalbox .right,.single .godgrace_cause_goalbox .left { float:none; display: block; text-align: center; }
	.single .godgrace_cause_readmore_button { margin:0 0 25px 0; }
	.godgrace_cause_standard_view .godgrace_cause_img { float:none;width:100%; }
	.godgrace_cause_standard_view .godgrace_cause_content { float:none;width:100%; margin-top: 20px; padding:0 10px; }

	.godgrace_sermons_right { clear:both; display: block; }
	.godgrace_sermons_date,.godgrace_sermons_play_area,.godgrace_sermons_date_meta,.godgrace_sermons_featured_img { width:100%; margin-right:0; max-width:100%; }
	.godgrace_sermons_featured_img { height:auto; background-size:0 0; }
	.godgrace_sermons_featured_img_block { display: block; }
	.godgrace_sermons_left { width:100%; margin:0 0 20px 0; float:none; display:block; }



}