/*

[Table of contents]

	1. Default Styles
	2. Event Day
	3. Sidebar-Footer Widget
	4. PRO
	5. Plugin shortcode
	6. List View
	7. Month View
	8. View As
	9. Event Single 
	10. Tooltip 
	11. Event Calendar Widget 
	12. Default Style Fix 
	13. Responsive

*/

/* ---------------------------------------------- 
 	1. Default Styles
---------------------------------------------- */

#tribe-events-pg-template { width: 940px; max-width: 940px; }
p.tribe-events-promo { display: none; }
#tribe-events-content { margin-bottom: 0; display: block; clear:both; }
.tribe-events-after-html { margin-top: 0px; }
.tribe-events-before-html { margin-bottom: 0px; }
h2.tribe-events-page-title { font-weight: normal; }

/* ---------------------------------------------- 
 	2. Event Day
---------------------------------------------- */

.tribe-events-day #tribe-events-footer { padding:0; margin:0; border:0; }
.tribe-events-day  #tribe-events a.tribe-events-ical.tribe-events-button { margin:30px 0; }
.tribe-events-day  #tribe-events-header,.tribe-events-day .tribe-events-day-time-slot h5 { display: none; }
.tribe-events-day #tribe-events-content.tribe-events-list { margin-right: 0; }
.tribe-events-day .tribe-events-list h2.tribe-events-page-title { margin-bottom: 25px; }

/* ---------------------------------------------- 
 	3. Sidebar-Footer Widget
---------------------------------------------- */

ol.hfeed.vcalendar { margin:0 0 20px 0; padding:0; }
ol.hfeed.vcalendar li { margin: 0; padding:10px 0; font-size: 11px; }
ol.hfeed.vcalendar li:first-child { padding-top: 0; }
ol.hfeed.vcalendar li span { font-weight: normal; }
ol.hfeed.vcalendar h4 { margin:0; padding:0; font-weight: bold; font-size: 14px;  }
p.tribe-events-widget-link { margin:0; }
.tribe-events-list-widget .tribe-events-widget-link a { font-size: 13px; }
.tribe-events-list-widget .tribe-events-widget-link a:after { content:'\f105'; font-family: fontAwesome; font-size: 14px; margin-left:7px;}

/* ---------------------------------------------- 
 	4. PRO
---------------------------------------------- */

#tribe-bar-form .tribe-bar-filters-inner { margin: 0 auto; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views+.tribe-bar-filters { clear:both;  margin:0 auto; right:auto; width:100%; margin-top: 20px; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views { clear:both; margin:0 auto; left:0;  }
.tribe-bar-disabled { margin:0 auto; float:none;  }
.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper { max-width: 100%; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views { width:100%; }
.tribe-bar-disabled #tribe-bar-form .tribe-bar-views-inner label { padding-top: 5px; }
.tribe-bar-geoloc-filter { padding:0; width:27%;  }

.tribe-events-list .tribe-events-photo-event .tribe-events-event-details { border-radius: 3px; margin:5px 0 0 0; text-align: center; padding:10px 20px 20px 20px;  }

.tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 { font-size: 18px; }
.tribe-events-list #tribe-events-photo-events .updated.published.time-details { font-size: 11px; padding:5px 20px 15px 20px; margin:0 -20px 20px -20px;  }

body.tribe-events-photo #tribe-events-photo-events {  margin:0 -7px;  }
#tribe-events-photo-events .vevent.tribe-events-photo-event {  width:33.33333333333333%; margin:0; }
#tribe-events-photo-events .vevent.tribe-events-photo-event .tribe-events-photo-event-wrap { padding:0 7px; margin: 0 0 17px 0; }
.tribe-events-photo #tribe-events-footer { border:0; }

/* ---------------------------------------------- 
 	5. Plugin shortcode
---------------------------------------------- */

.godgrace_latest_events { margin-right: -40px;  }
.godgrace_evt_meta_venue abbr { border:0; }
.recent_events_read_more_link { }

/* ---------------------------------------------- 
 	6. List View
---------------------------------------------- */

.godgrace_event_list_box { display: block; clear:both; margin-bottom: 50px; }
.godgrace_event_list_content { display: block; }  

.godgrace_event_list_image { position: relative; width:45%; display: table-cell; vertical-align:text-top; background-size:cover; background-position:center center;   }
.godgrace_event_list_image img { vertical-align:text-top; float:left; height:100%; }
.godgrace_event_list_image a { display: none; }

.godgrace_event_list_text { text-align: left; float:left; overflow: hidden; width:100%; padding-left: 35px; }
.godgrace_site_content .godgrace_event_list_text h4 a { font-size: 24px;  }
.godgrace_site_content .godgrace_event_list_text h4 { margin:0 0 15px 0; line-height:normal; }

.tribe-events-loop > .type-tribe_events { width:100%; display: block; clear:both; }
.godgrace_event_list_box .godgrace_column_gap { padding:0 15px; }

.godgrace_event_list_left { float:left; width:50%; display:table; }
.godgrace_event_list_right { float:right; width:50%; }

.godgrace_el_event_details_box { display: table-cell; background:#f1f1f1; margin:0; position: relative; padding:0; width:55%; vertical-align:text-top;  }
.godgrace_el_event_details_box ul { margin:0; font-size: 100%; position:relative; z-index:1; padding:23px 0;  overflow: hidden; width:100%; float:left; }
.godgrace_el_event_details_box ul:before { content:''; position: absolute; top:0; left:0; width:47px; height:100%; z-index:2; display: block; }
.godgrace_el_event_details_box ul:after { content:''; position: absolute; top:0; left:0; width:100%; height:100%; z-index:2; display: block; border:1px solid rgba(0,0,0,0.07); border-left:0; }

.godgrace_el_event_details_box ul li { position: relative; display: block; padding:10px 20px 10px 64px; margin:0; font-weight:bold; }
.godgrace_el_event_details_box ul li:last-child { border:0; }

.godgrace_el_event_details_box ul li:before { content:'\f041'; position: absolute; left:16px; top:5px; width:15px; height:24px; display: block; font-family: fontAwesome; text-align: center; z-index:3; font-size:14px;  }
.godgrace_el_event_details_box ul li.godgrace_el_date:before { content:'\f073'; }
.godgrace_el_event_details_box ul li.godgrace_el_organizer:before { content:'\f007'; }
.godgrace_el_event_details_box ul li.godgrace_el_time:before { content:'\f017'; }

.godgrace_el_event_details_box ul li span { font-size: 95%; line-height: normal; display: block;  }
.godgrace_el_event_details_box ul li span.godgrace_el_list_title { font-weight: bold; padding-bottom: 4px; }

.godgrace_el_event_details_box span { display: block; }


/*listview default fix*/
.tribe-events-list-separator-month+.vevent.hentry.tribe-events-first,.tribe-events-list .vevent.hentry,
.tribe-events-list .vevent.hentry.tribe-event-end-month { padding:0; margin:0; }

.events-list .tribe-events-loop { max-width: 100%; }
.godgrace_tribe-event-list-img img,.tribe-events-list .tribe-events-event-image { width:100%; border-radius: 3px; overflow: hidden;  }

.vcalendar .clearfix:before, .vcalendar .tribe-clearfix:before, .vcalendar .clearfix:after, .vcalendar .tribe-clearfix:after { display: none; }

.tribe-events-loop.vcalendar { margin-right: -40px; }
.events-list .tribe-events-loop { max-width:200%; }

.godgrace_site_content h2.tribe-events-page-title { font-size: 20px; text-transform: uppercase; font-weight: bold; text-align: left; }
.events-list #tribe-events-footer { border:0; padding:0; margin:0;  }

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous { padding:0; margin:0; }
ul.tribe-events-sub-nav li a { display: inline-block; padding:0; margin:0; font-weight: bold; text-transform: uppercase; padding:10px 25px; border-radius: 20px; font-size: 85%;  }
#tribe-events .tribe-events-button, .tribe-events-button { letter-spacing:0; margin-bottom: 10px; padding-top:10px; }

.godgrace_container ul.tribe-events-sub-nav li { padding:0; }

#tribe-events a.tribe-events-ical.tribe-events-button,#tribe-events a.tribe-events-gcal.tribe-events-button { background:none; padding:0; margin-top:0; font-size: 100%; text-transform: none;  }
.events-list #tribe-events a.tribe-events-ical.tribe-events-button { margin:30px 0px 0 0; }
.events-gridview #tribe-events a.tribe-events-ical.tribe-events-button  { margin:20px 0; }

.tribe-events-user-recurrence-toggle {  margin-top: -40px; padding-bottom:10px; }

.godgrace_event_list_box a.tribe-events-gmap,.tribe-events-list-separator-month { display: none; }
.godgrace_event_list_box .tribe-events-address { display: inline; }

/* ---------------------------------------------- 
 	7. Month View
---------------------------------------------- */

#tribe-events-content table.tribe-events-calendar { margin-bottom: 46px; }
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a { background: none; }

#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] { margin:0; padding:0; }
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title { margin:0; padding:0; }
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title a { padding:10px 15px; display: block; }

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child > .entry-title, 
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child > .entry-title a, 
.recurringinfo, .recurringinfo *, 
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title, 
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title a, 
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details, #tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details *, 
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first, 
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours, 
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .time-details, 
.widget .vcalendar .vevent .cmsms_widget_event_ovh *, 
.widget .tribe-events-widget-link a, 
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td *, 
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info, 
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .tribe-mini-calendar-event-venue a, 
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .recurringinfo *, 
.widget.tribe-this-week-events-widget .tribe-events-page-title { line-height: 20px; font-size: 13px; }

#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button { display: none; }
.events-gridview #tribe-events a.tribe-events-ical.tribe-events-button { margin:50px 0 0 0; }

.tribe-events-othermonth .tribe-events-month-event-title, .tribe-events-othermonth div[id*=tribe-events-daynum-] { opacity:1; }
.tribe-events-calendar thead th { padding:15px 5px; line-height: 20px; letter-spacing:0; font-size: 13px; }
#tribe-events-content { padding:0; }
#tribe-events-footer, #tribe-events-header,h2.tribe-events-page-title { margin:0; }
#tribe-events-bar { margin-bottom: 30px; }
#tribe-events-content table.tribe-events-calendar { margin:0 0 50px 0; }
ul.tribe-events-sub-nav li a { min-width: 135px; text-align: center; }
#tribe-bar-views .tribe-bar-views-option.tribe-bar-active a { font-weight: bold; }
#tribe-bar-views .tribe-bar-views-option.tribe-bar-active a span:before { font-weight: normal; }

#tribe-events-footer .tribe-events-sub-nav { margin-bottom:35px; }

/* ---------------------------------------------- 
 	8. View As
---------------------------------------------- */

#tribe-bar-form { background: none; }
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters { right: auto; left: auto; width: 100%; }
#tribe-bar-form #tribe-bar-views { left: auto; right: auto; width: auto; padding:0; background: transparent;   margin: 0 auto; text-align: center; float:none; }
#tribe-bar-views:hover, #tribe-bar-views label:hover { cursor:pointer;  }
.tribe-bar-views-inner { padding:0; background:none; height:20px; line-height: 20px;padding-bottom: 40px; }
#tribe-bar-form .tribe-bar-views-inner label { padding: 0; font-size:90%; margin:0 20px 0 0; width:auto; display: inline; float:none; line-height: 20px;height:20px; vertical-align:text-top;  }
#tribe-bar-form .tribe-bar-views-inner label:after { content:':'; }
.tribe-bar-views-inner .select2-container { padding: 0; }
.tribe-select2-results-views.select2-drop { background: none; }
#tribe-bar-form.tribe-bar-mini #tribe-bar-views { width:auto; }
#tribe-bar-views ul.tribe-bar-views-list { padding: 0; position: relative; border: 0; width:auto; display: inline-block; vertical-align: text-top; font-size: 90%; float:none; left:auto; }
#tribe-bar-views ul.tribe-bar-views-list li a span { background: none; }
#tribe-bar-views ul.tribe-bar-views-list li a span:before { font-family: fontAwesome; padding:0 3px 0 0;}
span.tribe-icon-upcoming:before { content:'\f0ca'; }
span.tribe-icon-month:before, span.tribe-icon-week:before, span.tribe-icon-day:before { content:'\f073'; } 
span.tribe-icon-map:before { content:'\f041'; }
span.tribe-icon-photo:before { content:'\f03e'; }
span.tribe-icon-list:before { content:'\f0ca'; }

.tribe-select2-results-views span[class^="tribe-icon-"], .tribe-bar-views-list span[class^="tribe-icon-"], .tribe-bar-view-list a[class*="tribe-icon-"] { padding-left:0; }
#tribe-bar-views li.tribe-bar-views-option { padding: 0; display: inline-block; line-height: 20px; }
#tribe-bar-views .tribe-bar-views-option:first-child, #tribe-bar-views .tribe-bar-views-option.tribe-bar-active,
#tribe-bar-views.tribe-bar-views-open .tribe-bar-views-option { display: inline-block; }

#tribe-bar-form.tribe-bar-mini * { font-size: 90%; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { padding: 0 20px 0 0 ; background: none; height:20px; line-height: 20px; font-size: 100%;}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover { background:none; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover { background:none; }
#tribe-bar-views .tribe-bar-views-option:last-child  a { border: 0;  }
#tribe-bar-form .tribe-bar-filters .tribe-bar-submit { float:left; width:26%; margin:22px 0 0 0; padding:0;}
#tribe-bar-form .tribe-bar-filters .tribe-bar-submit input[type=submit] { padding:10px; line-height: 16px; font-weight: bold; border-radius: 20px; }
.tribe-bar-filters .tribe-bar-date-filter,.tribe-bar-filters .tribe-bar-search-filter { width:34%; margin-right: 2.5%; padding:0; }
#tribe-bar-form .tribe-bar-filters input[type="text"],.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type="text"] { overflow:hidden; font-size: 90%; padding:10px; width:100%; line-height: 16px; font-style: normal; }
#tribe-bar-form .tribe-bar-filters-inner label { font-size: 90%; padding-bottom: 5px; display: block;}
#tribe-bar-form .tribe-bar-filters input[type="text"]:focus {  border-style: solid; }

.tribe-bar-filters-inner { padding:25px; overflow: hidden; }
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views,.tribe-bar-collapse #tribe-bar-collapse-toggle { width:100%; float:none; display: block;}

/* small size toggle menu */

.tribe-bar-collapse #tribe-bar-collapse-toggle { width:100%; padding:10px 20px; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner label { margin-right: 20px; }
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views { width:100%;  }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner { padding:25px 0 25px 0; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner { margin-top: 20px; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-date-filter input[type="text"] { margin-bottom: 20px; }
#tribe-bar-form.tribe-bar-collapse { padding:20px; overflow: hidden; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner { padding:25px 0 0 0; border:0; }

.godgrace_site_content .tribe-events-list h2.tribe-events-page-title,.godgrace_site_content h2.tribe-events-page-title { margin:40px 0; font-size: 27px; text-transform: none;  text-align: center;  }

/* ---------------------------------------------- 
 	9. Event Single
---------------------------------------------- */

.godgrace_site_content .godgrace_event_post_title h1 {font-size: 26px; letter-spacing: 0px; line-height: 40px; font-style: normal; margin:0; }
.godgrace_te_single_content {  border:4px solid #f1f1f1; padding:15px 35px 0; margin-bottom:40px; }
.godgrace_te_single_image { margin-bottom:2px; }

.godgrace_event_post_title_meta { position: relative; display: block; margin:0; z-index: 5; border-bottom:1px solid #f1f1f1; margin-bottom:20px; padding-bottom:20px; }

.godgrace_event_post_meta { position: relative; padding:0; font-size: 90%; font-weight: normal; display:block; margin:0; overflow: hidden; }
.godgrace_event_post_meta ul { margin:0; padding:0 0 0 7px; display: block;  width:100%; }
.godgrace_event_post_meta ul li {  margin:0 18px; list-style: none; display: inline-block; line-height: normal; padding:0; }
.godgrace_event_post_meta ul li i { width:22px; margin-left: -24px; text-align: left; }
.godgrace_event_post_meta ul li a { text-decoration: none; display: inline-block; }
.godgrace_event_post_meta ul li i.fa-clock-o { margin-right:-3px; }
.godgrace_event_post_meta ul li i.fa-map-marker { margin-right:-5px; }

.godgrace_te_single_content_text { padding:0; }

.godgrace_event_single_meta_row dt,.tribe-events-meta-group.tribe-events-meta-group-other dt { width:90px; clear:both; }
.godgrace_event_single_meta_row dd,.tribe-events-meta-group.tribe-events-meta-group-other dd { margin: 0; padding:0 0 7px 0;  }

.godgrace_event_single_meta_row dd.tribe-events-date,.godgrace_event_single_meta_row dd.fn.org,.tribe-events-meta-group.tribe-events-meta-group-other { border:0; }
.godgrace_event_single_meta_row dd.fn.org { font-size:14px; font-weight: bold; }

.single-tribe_events .tribe-events-venue-map { width:100%; padding:0; margin:0; border:0;  }

.single-tribe_events #tribe-events-footer { border:0; }
.tribe-events-meta-group.tribe-events-meta-group-other dl dd:nth-child(2) { border:0; }

.te_venue_map_box { padding:20px; display: block; margin:0 0 20px 0; }
.single-tribe_events .tribe-events-venue-map { float:none; display: block; }
.single-tribe_events .godgrace_post_single_pagination { border:0; border-top:1px solid #f1f1f1; margin:30px -35px 0; }
.single-tribe_events .godgrace_pp_view_all::after { border-color:#f1f1f1; }


.tribe-events-meta-group dl { margin:0; }
.tribe-events-meta-group dd { padding-bottom: 10px; }
.sidebar .godgrace_te_widgets .godgrace_widget_box { margin-bottom: 30px; font-size: 110%; }
dd.godgrace_te_boxtitle { margin:0 0 20px 0; font-size: 120%; font-weight: bold; padding:5px 20px; text-align: center; }
.sidebar .godgrace_te_widgets .godgrace_widget_box .godgrace_sidebar_ttl h3 { margin:0; }
.sidebar .godgrace_te_widgets .godgrace_te_title_details.godgrace_sidebar_ttl h3 {  }

.tribe-events-meta-group dd.godgrace_te_boxtitle { display: none; }
.godgrace_te_widgets .godgrace_sidebar_ttl i { font-size:16px; margin-top:14px; }

/* ---------------------------------------------- 
 	10. Tooltip
---------------------------------------------- */

.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip { z-index: 9999; }
#tribe-events-content .tribe-events-tooltip h4 { font-size: 16px; line-height: normal;  }
.tribe-events-tooltip .tribe-events-event-body {  font-size: 100%;  }
.tribe-events-tooltip .tribe-events-event-body .tribe-event-duration {  font-size: 90%; padding:0 0 15px 0; margin: 0 0 10px 0; }
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip { padding:20px 20px 10px 20px; }
.tribe-events-tooltip .tribe-events-event-body .tribe-event-description p { line-height: 20px; font-size: 90%; }

/* ---------------------------------------------- 
 	11. Event Calendar Widget
---------------------------------------------- */

.tribe-list-widget a { text-decoration: none; }
.godgrace_site_content .tribe-list-widget h4,.footer .tribe-list-widget h4 { font-size: 100%; line-height: normal; margin: 0; font-weight: bold; }
.tribe-list-widget .tribe-event-duration { font-size: 90%; }
.tribe-events-list-widget ol li { border-bottom:1px solid; }
.tribe-events-list-widget ol,.tribe-events-list-widget ol li { margin:0; }
.tribe-events-list-widget ol li { padding:12px 0 8px; }
.tribe-events-list-widget ol { margin-bottom: 20px; }
.footer .tribe-events-list-widget ol li:first-child { padding-top: 0; }

/* ---------------------------------------------- 
 	12. Default Style Fix
---------------------------------------------- */

.tribe-events-notices { border-radius: 0; margin: 0 0 50px 0; text-align: center; }
.single-tribe_events .tribe-events-notices { margin-bottom: 30px; }
.events-gridview .tribe-events-notices { margin-bottom: 0; }
#tribe-events-pg-template, .tribe-events-day .tribe-events-loop { width:100%; max-width: 100%; }
#tribe-events-day { padding:0; }
#tribe-events-content .tribe-events-calendar td,#tribe-events-content table.tribe-events-calendar { font-size: 100%; }
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous { width:auto; }

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a { background:rgba(0,0,0,0.5); color:#fff; }

.single-tribe_events .tribe-events-event-image,
.single-tribe_events .tribe-events-cal-links { margin:0; }

/*Version 4.0 issue fix*/
.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first,.tribe-events-list .type-tribe_events { padding:0; float:left; display: inline-block; }
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events { margin-left: 0; }
.tribe-events-meta-group-details abbr { border:0; }
.tribe-events-event-image { float:none; }
.tribe-events-list .type-tribe_events:first-of-type { margin-top:0; }
.tribe-events-list .type-tribe_events { margin-bottom:0; }


/* ---------------------------------------------- 
 	13. Responsive
---------------------------------------------- */

@media only screen and (min-width: 1200px) {     
    .tribe-events-day .tribe-events-loop.vcalendar { margin-right: 0; margin-left: 0; }
    .tribe-events-day-time-slot { margin:0; }

}

@media only screen and (min-width: 980px) and (max-width: 1199px) {      
    .tribe-events-day .tribe-events-loop { max-width: 940px; } 
    .tribe-events-day-time-slot { margin-left: 0;  margin-right: -40px;  }
    .tribe-events-day .tribe-events-loop.vcalendar { margin-right: 0; }
}

@media only screen and (max-width: 979px) { 
    .godgrace_event_list_left,.godgrace_event_list_right { width:100%;}
    .godgrace_event_list_left { padding-bottom: 20px; }
	.godgrace_site_content .godgrace_event_list_text h4 { margin:0 0 10px 0; }
    .godgrace_site_content .godgrace_event_list_text h4 a { font-size: 18px; }
    .godgrace_event_list_text { padding:0; }
    .godgrace_el_event_details_box ul li { }
    .godgrace_el_event_details_box ul li:last-child { }
    .godgrace_event_list_text { padding-right: 15px; }
    .godgrace_e_list_content_left { display: block; }
    .godgrace_event_list_readmore_arrow { display: inline-block; padding:15px 20px; }
    .godgrace_event_list_readmore_arrow i { font-size: 20px; }
	.godgrace_te_single_meta ul { display: block; padding:10px 0 0 0; }
	.godgrace_te_single_meta ul li { display: inline-block; width:48%; margin:0; padding:10px; }
	#tribe-bar-form.tribe-bar-mini * { font-size: 100%; }

}

@media only screen and (min-width: 768px) and (max-width: 979px) {  
    #tribe-events-pg-template { width: 689px;max-width: 689px; } 
     /*pro*/
    .tribe-bar-geoloc-filter { padding-top: 20px; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event {  width:49.5%; margin:0; }
    .tribe-events-day-time-slot { margin-left: 0; margin-right: -40px; }
    .tribe-events-day .tribe-events-loop.vcalendar { margin-right: 0; }
}

@media only screen and (max-width: 767px) { 

	.godgrace_event_list_image { margin-bottom: 20px; }

	.godgrace_event_whitebox_border { display: none; }
	.godgrace_event_post_title_meta { margin:0 0 30px 0;  }
	.godgrace_site_content .godgrace_event_post_title h1 { font-size: 18px; line-height: normal; margin-bottom: 10px;  }

    #tribe-events-pg-template { width: 301px;max-width: 301px; padding:0; }
    #tribe-bar-form .tribe-bar-filters .tribe-bar-submit { width: 100%; }
	ul.tribe-events-sub-nav li a { margin: 20px 0; }    
    .tribe-events-day-time-slot { margin-right:0; margin-left:0; }
    .tribe-events-day .tribe-events-loop.vcalendar { margin-right: 0; }

    #tribe-bar-views ul.tribe-bar-views-list,#tribe-bar-form .tribe-bar-views-inner label,#tribe-bar-views li.tribe-bar-views-option { float:left; }
   
    .godgrace_te_single_meta_table table.godgrace_te_single_do_table tr td { width:100%; display: block; }
    .godgrace_te_single_title_meta_section span { display: block; clear:both; }
    .godgrace_te_single_title_meta_section span.godgrace_te_single_title_cost { float:none; margin:10px 0 0 0; display: inline-block; width:auto; }
    .godgrace_te_single_venue_table .godgrace_te_vt_left,.godgrace_te_single_venue_table .godgrace_te_vt_right { float:none; width:100%; }

    .te_venue_map_box { margin-bottom:50px; }

    /*pro*/
    .tribe-bar-geoloc-filter { padding-top: 20px; }
    #tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner label { margin-bottom: 10px; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event {  width:100%; margin:0; padding:0; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event, #tribe-events-photo-events.photo-two-col .vevent.tribe-events-photo-event { max-width: 100%; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event .tribe-events-photo-event-wrap { padding:0; margin:0; }
    body.tribe-events-photo #tribe-events-photo-events {  margin:0;  }

	.tribe-mobile-day { padding:15px 20px 20px 20px; display: block; clear:both;  }
	.godgrace_site_content .tribe-mobile-day h3 { font-size: 1.6em; line-height: normal; margin:0; }
	.tribe-events-event-schedule-details { padding:0 0 10px 0; width:100%; display: block; margin-bottom: 20px; }
	#tribe-mobile-container .type-tribe_events .tribe-events-read-more { font-weight: bold; margin:0; }
	.godgrace_site_content .tribe-mobile-day .tribe-event-description p { font-size: 95%; line-height: 25px; margin:0; }
	#tribe-mobile-container .type-tribe_events .tribe-events-event-image { width:150px; }
	.tribe-events-event-schedule-details { font-size: 90%; }
	.tribe-events-sub-nav .tribe-events-nav-left a span,.tribe-events-sub-nav .tribe-events-nav-right a span { position: relative; left:auto; right:auto; top:auto; display: inline-block; }
	.godgrace_site_content .tribe-events-list h2.tribe-events-page-title, .godgrace_site_content h2.tribe-events-page-title { margin:20px 0; font-size: 20px; }

}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	#tribe-events-pg-template { width: 461px; max-width: 461px;  }   

}

@media only screen and (max-width: 480px) {

    .godgrace_event_list_image,.godgrace_event_list_image a,.godgrace_el_event_details_box { width:100%; display: block; }
    .godgrace_event_list_image { margin:0; }
    .godgrace_event_list_image img { float:none; }
    .godgrace_el_event_details_box ul { padding:10px 0; float:none; }
    .godgrace_el_event_details_box ul li { padding-top:7px; padding-bottom:7px; }
    .godgrace_el_event_details_box ul
    .godgrace_evnet_list_left_holder > div.godgrace_event_list_summery { width:100%; }
    .godgrace_event_list_summery ul { margin: 2px 0 0 0; }
    .te_venue_map_box { margin-bottom:30px; }
    .single-tribe_events .tribe-events-meta-group { margin-bottom: 0; }

    #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous { width:100%; display: block; float:none; }
    	ul.tribe-events-sub-nav li a { text-align: center; display: block; }
    	#tribe-mobile-container .type-tribe_events .tribe-events-event-image { width:100%; }

}
